@(websocketUrl: String)

@main("Simple Client", scripts = Seq("jquery.websocket-0.0.1.js", "jquery.json-2.3.min.js")) {
<h1>Simple Client</h1>
<section id="content"></section>
<input id="message" type="text"/>
<script>
    var ws = $.websocket("@websocketUrl", {
        events:{
            message:function (e) {
                $('#content').append(e.data + '<br>')
            }
        }
    });
    $('#message').change(function () {
        ws.send('message', this.value);
        this.value = '';
    });
</script>
}